/* TODO: styles review and refactor needed */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: white;
}

/* main page */

.list-books-title {
  padding: 10px 0;
  text-align: center;
  background: #91dc5a;
  box-shadow: darkgrey 0 0 0.5em;
}

.list-books-title h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  color: white;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 1px solid #dedede;
  padding: 0.1em 0.25em;
  text-align: center;
}
.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffaa50;
  background-image: url('../images/icons/magnifying-glass-search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: darkgrey 1px 1px 5px 0;
  font-size: 0;
}

/* search page */
.search-books input[name='query'] {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.75em;
    font-size: 1.25em;
    box-shadow: darkgrey 0 0 0.5em;
}

.search-books-results {
    padding-top: 1em;
}

.search-books-results p {
    text-align: center;
}

.search-books-results p em {
    color: #ffaa50;
    font-style: normal;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
  box-sizing: content-box;
}
.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
}
.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: dimgray;
  background-image: url('../images/icons/move-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
  width: 130px;
  height: 180px;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

.book-cover .no-image {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.book-cover .no-image::before {
  content: "";
  background: transparent;
  width: 120px;
  height: 170px;
  border: dashed 2px black;
  position: absolute;
  top: 5px;
  left: 5px;
  background-size: 50%;
  background-position: center;
  box-sizing: border-box;
  background-image: url('../images/no-image.svg');
  opacity: 0.25;
  background-repeat: no-repeat;
}

/* -- Book details -- */
.book-info {
    padding: 0 1em;
}

.book-details {
    padding: 3em 2em;
    max-width: 750px;
    box-sizing: border-box;
    margin: auto;
}

.book-meta {
    display: flex;
}

.book-meta > * {
    margin-bottom: 1.5em;
}

.book-details .book-title {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}

.book-details ul {
    font-size: 0.75em;
    padding-left: 2em;
    list-style-type: circle;
}

.book-subtitle {
    font-size: 0.9em;
}

.book-details .book-cover {
    flex-shrink: 0;
}

.tags {
    text-align: center;
    margin: 1.5em;
}

.tags span {
    margin-right: 1em;
    background: #91dc5a;
    padding: 0.5em 1em;
    color: white;
    font-size: .8em;
    text-transform: lowercase;
    border-radius: 0.5em;
}

.tags span:nth-child(even) {
    background: darkgray;
}

.book-summary {
    text-align: justify;
}

@media screen and (max-width: 560px) {
    .book-meta {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.ico {
    width: 1em;
    height: 1em;
    display: inline-block;
    background: no-repeat center;
    background-size: 100%;
}

.rating-stars {
    text-align: center;
    margin: 2em 0;
}

.rating-stars > .ico {
    font-size: 1.5em;
}

.rating-stars > .ico:not(:first-child) {
    margin-left: 0.5em;
}

.ico-star {
    background-image: url('../images/icons/star-empty.svg');
}

.ico-star.fill {
    background-image: url('../images/icons/star-filled.svg');
}

.rating-stars .review-count {
    font-size: 0.8em;
    margin-top: 0.5em;
    color: darkgray;
}

/* -- Easter egg -- */

.book-cover {
    position: relative;
}

.book-cover::before {
    content: '';
    left: 0;
    top: -2.5em;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    background: no-repeat;
    background-position-y: 2.5em;
    background-image: url('../images/cat.svg');
    transition: all 1s;
}

.book-cover:hover::before {
    background-position-y: 0.5em;
    transition: all 1s;
}

.book-cover::after {
    content: 'Meow!';
    left: 2.75em;
    top: -1.75em;
    opacity: 0;
    font-size: 1em;
    position: absolute;
    color: darkgrey;
    font-family: 'Montserrat', sans-serif;
    height: 1em;
    transition: all 1s;
}

.book-cover:hover::after {
    opacity: 1;
    transition: all 1s;
}

/* -- Other styles -- */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: #91dc5a;
    box-shadow: darkgrey 0 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 0.5em;
}

header h1 {
    color: white;
    font-size: 1em;
    line-height: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

header.without-back-button {
    padding-left: 1.5em;
}

header.without-info-button {
    padding-right: 1.5em;
}

header .ico {
    color: transparent;
    overflow: hidden;
    background-size: 70%;
}

header .ico.back-button {
    background-position-x: left;
    background-image: url('../images/icons/go-back-left-arrow.svg');
}

header .ico.info-button {
    background-position-x: right;
    background-image: url('../images/icons/show-more-button-with-three-dots.svg');
}

main {
    padding: 4em 0 2em 0;
}

.book-details .book-top {
    height: auto;
}

.book-details .book-shelf-changer {
    right: -10px;
}

/* -- Error message -- */
.error-message {
    padding: 2em;
    text-align: center;
}

.error-message h1 {
    color: darkgrey;
}

.error-message .crying-face {
    width: 150px;
    height: 150px;
    opacity: 0.1;
    background-image: url('../images/crying.svg');
    background-size: contain;
    bottom: 0;
    right: 0;
    margin: 2em auto;
    /*animation: darken 1s linear 0s infinite alternate;*/
}

@keyframes darken {
    from    { opacity: 0.1; }
    to      { opacity: 0.25; }
}

.container {
    max-width: 750px;
    box-sizing: border-box;
    margin: auto;
    padding: 2em;
}